    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
	  background-color: #292c2f;
    padding: 25px;
    color: #8f9296;
    font-size: 14px;
    }
	.image-li{
    webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
	}
   .image-li:hover {
	 border: 5px solid #9b59b6;
     transform: rotate( 360deg );            
    transition: transform 150ms ease;
   }

